#delete-compendium-button {
  font-family: "pictos";
  height: 18px;
  margin-top: 23px;
}

#c20-editor-modal .progress-container {
  position: absolute;
  width: 96%;
  height: 2px; /* Adjust height as needed */
  overflow: hidden; /* Ensures the inner bar stays within the container */
}

#c20-editor-modal .progress-bar {
  height: 100%;
  background-color: #5591d4; /* Green color, adjust as needed */
  width: 0%; /* Initial width */
  animation: fillProgress 3s forwards linear infinite; /* Animation properties */
  display: none;
}

@keyframes fillProgress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%; /* Target width for the animation */
  }
}

#compendium-editor legend {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}
#compendium-editor fieldset:not(:last-of-type) {
  margin-bottom: 10px;
}

#c20-editor-modal:has(#c20-compendium-modal-content.hidden) #compendium-editor-advanced {
  color: blueviolet;
}
