.health-defense {
  position: relative;
  margin-top: 5px;
  margin-bottom: -5px;
}

.health-defense .row {
  display: flex;
  align-items: flex-start;
}

.health-defense:hover .options-flag + span {
  display: flex;
}

.health-defense .options-flag {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 18px !important;
  height: 18px !important;
  z-index: 2;
  text-align: center;
  font-size: 20;
  border: none;
  background: none;
  border-radius: 0;
  color: black;
}

.health-defense .options-flag {
  top: -10px;
}

.health-defense .options-flag:hover + span {
  color: black;
}

.sheet-darkmode .health-defense .options-flag:hover + span {
  color: #c6abd3;
}

.health-defense .c20-health-resistance:has(span:empty),
.health-defense .c20-health-immunity:has(span:empty),
.health-defense .c20-health-vulnerability:has(span:empty) {
  display: none;
}

.health-defense .c20-health-resistance img,
.health-defense .c20-health-immunity img {
  filter: brightness(0) saturate(100%) invert(69%) sepia(42%) saturate(5044%) hue-rotate(116deg) brightness(92%)
    contrast(101%);
  width: 20px;
}

.health-defense .c20-health-vulnerability img {
  /* filter: brightness(0) saturate(100%) invert(39%) sepia(6%) saturate(5%) hue-rotate(5deg) brightness(94%) contrast(85%); */
  filter: brightness(0) saturate(100%) invert(36%) sepia(97%) saturate(3163%) hue-rotate(335deg) brightness(78%)
    contrast(145%);
  width: 20px;
}

.health-defense .row > .c20-imageText {
  position: absolute;
  color: white;
  width: 15px;
  left: 2px;
  cursor: default;
  text-align: center !important;
  font-size: 10px;
  font-family: math;
}

.health-defense .row > .c20-imageText {
  top: 2px;
}

.sheet-darkmode .health-defense .row > .c20-imageText {
  color: rgb(59, 59, 59);
  font-weight: 700;
}

.health-defense .options .row > .c20-imageText {
  top: 7px;
}

.sheet-darkmode .health-defense .options .row > .c20-imageText {
  top: 5px;
}

.health-defense .row {
  position: relative;
}

.health-defense .options input {
  width: calc(100% - 32px);
  border: none;
  border-bottom: 1px solid black;
  background: none;
  box-shadow: none;
  border-radius: 0;
}
